*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 50px;
    background: #333;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}

h1{
    float: left;
}

header .contenedor{
    display: table;
}

.bienvenidos{
    text-align: center; 
}

/*MENU*/

.menu-bar{
    display: none;
}

header label{
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

section{
    width: 100%;
    margin-bottom: 25px;
}

.menu{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a{
    display: block;
    color: #ffffff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a:hover{
    background: rgba(255, 255, 255, 0.3);
}

.menu-bar:checked ~ .menu{
    transform: translateX(0%);
}

/*BANNER*/

.banner{
    margin-top: 50px;
    position: relative;
}

.banner img{
    width: 100%;
    height: 100%;
}

.banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color:white;
}

.banner h2{
    font-size: 28px;
}

.banner a{
    width: 100px;
    display: block;
    color:white ;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid gray;
}

.banner a:hover{
    background: rgba(51, 51, 51, 0.5);
}

/*BLOG*/

.blog h4{
    text-align: center;
}

.blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.blog article{
    margin: 15px;    
}

.blog img{
    width: 100%;
    max-width: 280px;
}

/*ESTUDIANTES EJEMPLARES*/

.info{
    background: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.info .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.est-ejm{
    margin: 20px;
}

.est-ejm img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #ffffff;
}

/*FOOTER*/

footer .contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.copy{
    font-size: 20px;
    padding: 10px;
}

footer .contenedor a{
    text-decoration: none;
    padding: 10px;
    margin: 3px solid black;
}