
/*modificacion index 1*/

.Body1{
    /*background: rgb(207, 206, 206);*/
    background: url(../Resources/colegio1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
}

.headerindex{
    font-size: 30px;  position: relative; top: -55px;
    width: 450px;    margin-bottom: 20px; text-align: center;
    background-color: rgb(214, 214, 214); display: inline-block;
}

.esc{
    display: inline-block;
     border-radius: 5px;
}

.MenuIndex1{
    list-style: none;   
    padding: 0;
    background: rgb(107, 4, 4);
    width: 50%;
    max-width: 450px;  border-radius: 5px;
    margin: auto;  border: blanchedalmond 1px solid;
    /*margin-top: -40px;*/    border-radius: 5px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 20px;
}

.MenuIndex1 li a{
    text-decoration: none;
    color: black;
    display: block;}
.MenuIndex1 li{
    display: inline-block;
    text-align: center;
    margin-left: 10px; margin-right: 10x; 
}   
.MenuIndex1 li a:hover{ background: rgb(214, 214, 214); padding: 10px;} 

.banner{
    border: black solid 2px;  border-radius: 5px;
    position: absolute;
    left: 200px;
    margin-top: 5px;
}

.lema{
    background-color: rgb(255, 174, 0); width: 840px; position: relative; top: 210px; left: 190px;
    padding: 10px; font-size: 20px; text-align: center; border-radius: 5px;
    
}

.a1{
    border: black solid 1px; width: 15%; background-color: rgb(255, 174, 0); display: inline-block;
    text-align: center; font-family: Arial, Helvetica, sans-serif; height: 150px; margin-right: 860px;
    padding-top: 100px; border-radius: 5px; position: relative; top: -75px;
}

.a2{
    border: black  solid 1px; width: 15%; background-color: rgb(255, 174, 0); display: inline-block;
    text-align: center; font-family: Arial, Helvetica, sans-serif; height: 150px;
    padding-top: 100px; border-radius: 5px; position: relative; top: -75px;
} 

.ulp1{   position: relative; bottom: 80px; left: 370px; border-radius: 5px;
    background-color:  rgb(214, 214, 214); width: 480px; border: black solid 1px ; text-align: center; 
    list-style: none; color: black; font-family: Arial, Helvetica, sans-serif; padding-right: 20px; 
} .correo{text-decoration: none; color: black;} 

/*modificacion index 2*/

.Body2{
    /*background: rgb(207, 206, 206);*/
    background: url(../Resources/colegio1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
}

.headerindex2{
    font-size: 30px;  position: relative; top: -55px;
    width: 450px;    margin-bottom: 20px; text-align: center;
    background-color: rgb(214, 214, 214); display: inline-block; border-radius: 5px;
}

.esc2{
    display: inline-block;
     border-radius: 5px;
}

.login{

    background-color:  rgb(107, 4, 4); width: 400px; max-width: 100%;  border-radius: 10px;
     margin: auto; margin-top: 30px; border: black solid 2px;
     box-sizing: border-box;   padding: 20px;
     position: relative;
} .h1login{ color: blanchedalmond;}
.error{ text-align: center;
    background-color: burlywood;
}
.btnlgp{ position: relative; margin-left: 150px; background-color: rgb(255, 174, 0); border: black solid 2px;
         border-radius: 5px; padding: 5px 15px; margin-top: 10px; margin-bottom: 10px; font-family: Arial, Helvetica, sans-serif;
}
.plg{
    color: blanchedalmond; text-align: center; background-color: gray; max-width: 200px;
    margin-left: 85px;
}
.inlg{
   position: relative; margin-left: 98px;  
}

.asidei2{ position: relative; left: 905px; top: -310px;
    background-color: rgb(255, 174, 0);  width: 300px;
    list-style: none; padding: 15px; border: black solid 1px; border-radius: 5px;
}
.asidei2 li a{
    text-decoration: beige; 
    color: blanchedalmond;   background-color:  rgb(107, 4, 4);
    display: block;  padding: 15px; margin: 5px; text-align: center; 
    border: black solid 1px; border-radius: 5px;
}


.ulp2{   position: relative;  left: 370px; border-radius: 5px; top: -270px;
    background-color:  rgb(214, 214, 214); width: 480px; border: black solid 1px ; text-align: center; 
    list-style: none; color: black; font-family: Arial, Helvetica, sans-serif; padding-right: 20px; 
} .correo2{text-decoration: none; color: black;}  .exit{text-decoration: none; color: blue;}


/*modificacion index 3*/

.Body3{
    /*background: rgb(207, 206, 206);*/
    background: url(../Resources/colegio1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
}

.headerindex3{
    font-size: 30px;  position: relative; top: -55px;
    width: 450px;    margin-bottom: 20px; text-align: center;
    background-color: rgb(214, 214, 214); display: inline-block;
}

.esc3{
    display: inline-block;
     border-radius: 5px;
}

/*modificacion index 4*/

.Body4{
    /*background: rgb(207, 206, 206);*/
    background: url(../Resources/colegio1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
}

.headerindex4{
    font-size: 30px;  position: relative; top: -55px;
    width: 450px;    margin-bottom: 20px; text-align: center;
    background-color: rgb(214, 214, 214); display: inline-block;
}

.esc4{
    display: inline-block;
     border-radius: 5px;
}
/*adm.php*/

.Bodyadm{

    background: url(../Resources/pp.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center ;
}

.registrar{
    position: relative; margin-left: 20px;
    background-color: blanchedalmond; width: 200px; border-radius: 5px;
    padding-left: 20px; padding-top: 10px; padding-bottom: 20px;
} .registrar p{ background-color: rgb(90, 88, 88); max-width: 180px;
     text-align: center; border: black solid 1px; color: blanchedalmond; border-radius: 5px;}
     .btnañadir{  position: relative; margin-left: 55px;}
.eliminar{
    position: relative; margin-left: 1020px; margin-top: -462px;
    background-color: blanchedalmond; width: 200px; border-radius: 5px;
    padding-left: 20px; padding-top: 10px; padding-bottom: 20px;
} .eliminar p{ background-color: rgb(90, 88, 88); max-width: 180px;
    text-align: center; border: black solid 1px; color: blanchedalmond; border-radius: 5px;}
    .btnelim{  position: relative; margin-left: 30px;}
.actualizar{
    position: relative; margin-left: 1020px;  margin-top: -5px;
    background-color: blanchedalmond; width: 200px; border-radius: 5px;
    padding-left: 20px; padding-top: 10px; padding-bottom: 20px;
} .actualizar p{ background-color: rgb(90, 88, 88); max-width: 180px;
    text-align: center; border: black solid 1px; color: blanchedalmond; border-radius: 5px;}
    .btnact{position: relative; margin-left: 55px;}
.registros{
    position: relative; margin-left: 1020px; margin-top: -5px;
    background-color: blanchedalmond; width: 200px; border-radius: 5px;
    padding-left: 20px; padding-top: 10px; padding-bottom: 10px;
} .registros p{ background-color: rgb(90, 88, 88); max-width: 180px;
    text-align: center; border: black solid 1px; color: blanchedalmond; border-radius: 5px;}

    .actualizar2{
        
        background-color: black; width: 200px; border-radius: 5px;
        padding-left: 20px; padding-top: 10px; padding-bottom: 20px;
    } .actualizar2 p{ background-color: white; max-width: 180px;
        text-align: center; border: black solid 1px; color: black; border-radius: 5px;}
        .btnact2{position: relative; margin-left: 55px;}

.bd{ background-color: turquoise; font-family: 'Montserrat', sans-serif}

#bbd{ margin: 5px 0 0 150px; width: 1000px;}

table{ background-color: teal; text-align: left; border-collapse: collapse; width: 100%; color: white; }

tr, td{ border: black solid 1px; padding: 0;}

.headerregistros{
    font-size: 30px;  position: relative; top: -35px;
    width: 800px;    margin-bottom: 20px; text-align: center;
    background-color: rgb(214, 214, 214); display: inline-block;
}

.agregara{  
    position: relative; margin-left: 550px;
    background-color: blanchedalmond; width: 200px; border-radius: 5px;
    padding-left: 20px; padding-top: 10px; padding-bottom: 20px; padding-right: 20px;}
 .registrara p{ background-color: rgb(90, 88, 88); max-width: 180px;
     text-align: center; border: black solid 1px; color: blanchedalmond; border-radius: 5px;}
     .btnañadira{  position: relative; margin-left: 55px;} 

     #bbbd{ margin: 5px 0 0 55px; width: 1000px;}

table{ background-color: teal; text-align: left; border-collapse: collapse; width: 100%; color: white; }

tr, td{ border: black solid 1px; padding: 0;}